.failure-window{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.437);
    z-index: 999;
}

.failure-container{
    top: 100vh;
    left: 50%;
    transform: translate(-50%, 0);
    animation-name: slideup;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    width: 400px !important;
    height: 400px !important;
}

@keyframes slideup{
    from{
        top: 100vh;
    }to{
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes slideup2{
    from{
        top: 100vh;
    }to{
        top: 0;
    }
}

.failure-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.failure-header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.failure-secret-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

.it-was{
    font-size: 1.75rem;
    color: white;
    font-weight: 600;
}

.failure-secret{
    font-size: 2rem;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(250,149,41,1) 16%, rgba(240,255,0,1) 33%, rgba(60,250,41,1) 50%, rgba(41,67,250,1) 66%, rgb(185, 66, 225) 83%);         
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 850px){

    .failure-window{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }

    .failure-container{
        position: relative !important;
        left: 0 !important;
        transform: translate(0,0);
        width: 100% !important;
        max-width: 500px !important;
        height: 100% !important;
        max-height: 500px;
        animation-name: slideup2;
    }

}