@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body, html, #root, .the-start-root{
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.the-start-root{
  height: 100vh;
}

body{
  background-image: url("/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

body::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 1, 66, 0.535);
  z-index: -1;
}

.btn-prim{
  background-color: rgb(247, 76, 150);
  padding: 0 2rem;
  height: 2.5rem;
  border-radius: 100vh;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
  user-select: none;
  transition: 300ms transform ease-out;
}

.btn-prim:hover{
  transform: scale(1.1);
}

.btn-prim:active{
  transform: scale(0.95);
}

.container{
  position: absolute;
  
  width: 100%;
  max-width: 800px;
  border-radius: 20px;
  border-color: rgb(0, 0, 95);
  border-style: solid;
  border-bottom-width: 8px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-width: 2px;
  background-color: rgba(0, 0, 128, 0.561);
}

.inner-container{
  height: calc(100%);
  
  width: 100%;
  background-color: rgba(31, 31, 141, 0.92);
  border-color: rgb(102, 124, 215);
  border-style: solid;
  border-top-width: 8px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 2px;
  border-radius: 20px;
}

.start-container{
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 500px;
  height: 500px;
}

.start{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.logo{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.bubble-button{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  outline: none;
  height: 10rem;
  aspect-ratio: 1/1;
  transition: 500ms transform ease-in-out;
  cursor: pointer;
}

.start-button{
  background-image: url("/play.svg");
}

.play-again{
  background-image: url("/replay.svg");
}

.go-back{
  background-image: url("/goback.svg");
}

.bubble-button:hover{
  transform: scale(1.1);
}

.bubble-button:active{
  transform: scale(0.9);
}

.secret-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.word-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.keyboard{
  display: grid;
  grid-template-columns: repeat(8, auto);
  gap: 1rem;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  margin-top: 4rem;
}

.categories{
  position: fixed;
  top: 0;
  right: 100vw;
  width: calc(100vw + 5px);
  height: 100vh;
  border-right: 5px solid rgb(91, 91, 225);
  background-color: rgb(39, 39, 207);
  animation-name: slideright;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  z-index: 999;
  padding: 6rem;
  overflow-y: scroll;
}

.categories::-webkit-scrollbar{
  appearance: none;
  width: 8px;
  display: block;
  background-color: navy;
}

.categories::-webkit-scrollbar-thumb{
  width: 100%;
  background-color: rgb(1, 1, 194);
  border-radius: 100vh;
}


@keyframes slideright{
  from{
    right: 100vw;
  }to{
    right: -5px;
  }
}

.category-goback{
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 4rem !important;
}

.inner-categories{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media (max-width: 900px){
  .keyboard{
    margin-top: 0.5rem;
    max-height: 40vh;
    padding: 1rem;
  }

  .secret-container{
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    height: 100%;
    height: 100vh;
    max-height: 40vh;
  }

  .word-wrapper{
    /* flex-direction: column; */
    overflow-y: hidden;
    gap: 0.25rem;
  }
}

@media (max-width: 850px){

  .the-start-root{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .start-container{
    position: relative;
    transform: translate(0,0);
    left: 0;
    top: 0;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
  }

  .category-goback{
    top: 1rem;
  }

  .inner-categories{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px){
  .keyboard{
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}

@media (max-width: 500px){
  .logo{
    height: 8rem;
    object-fit: contain;
  }

  .start{
    padding-top: 4rem;
  }

  

}