.window{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.766);
    z-index: 999
}

.rules-container{
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translate(-50%, -50%);
    animation-name: slidein;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes slidein {
    from{
        left: -100%;
    }to{
        left: 50%;
    }
}

.rules{
    padding: 2rem 0;
    padding-top: 5rem;
    height: calc(150%);
    width: 100%;
    background-color: rgba(31, 31, 141, 0.92);
    border-color: rgb(102, 124, 215);
    border-style: solid;
    border-top-width: 8px;
    border-left-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 2px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.rules-header{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,-50%);
    font-family: "Gothic A1";
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 0 0 9px black;
    padding: 1rem;
    border-radius: 5px;
}


.rules-list{
    width: 100%;
    padding: 0 8rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;
}

.rules{
    font-family: 'Roboto';
    font-size: 1.1rem;   
    color: white;
    font-weight: 600;
}

@media (max-width: 850px){
    .window{
        display: flex;
        align-items: start;
        justify-content: center;
        padding: 0;
        padding-top: 6rem;
        gap: 0;
    }

    .rules-container{
        position: relative !important;
        top: 0;
        width: 100%;
        max-width: 100% !important;
        height: 100%;
        transform: translate(-50%,0);
        gap: 0;
        border-radius: 20px 20px 0 0 !important;
    }

    .rules{
        border-radius: 20px 20px 0 0 !important;
        padding: 0 !important;
    }

    .rules-list{
        list-style-type: ;
        padding: 0 4rem;
    }
}